html {
    width: 100%;
}

.banniere-promo {
    width: 100%;
    margin-top: 10px;
}

.logo {
    width: 450px;
}

.bg-menu {
    background-color: black;
    padding: 20px;
}

a {
    color: white;
}

/* TABLEAU */

.tableau {
    
}

aside{
    background-color: lightgrey;
    float: right;
    width: 250px;
    height: 78rem;
}

footer {
    display: block;
}


/* FOOTER */

.bg-footer {
    background-color: black;
    padding: 20px;
}

hr {
    height: .5;
    opacity: .1;
}

@media screen and (max-width: 768px) 
{ 
    html {
        font-size: 0.750rem;
    }
    .logo{
        width: 250px;
    }

    a {
        display: block;
    }    

    aside {
        visibility: hidden;
        height: 0;

    }    

    table {
        
    }
}  